<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>THANKYOU FORM</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}">

</head>
<body>
<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Thanks for subscribing to our news letter.  </p>
      <p>you should receive a confirmation email soon  </p>
        <a href="{% url 'index' %}">
        <button class="go-home">Go Home</button>
    </a>
    </div>
    <div class="footer-like">
      <p>Email not received?
       <a href="{% url 'contact' %}">Click here to send again</a>
      </p>
    </div>
</div>
</div>

</body>
<script>
    <script>
    $(document).ready(function () {
        $('#contactForm').submit(function (e) {
            e.preventDefault();
            // Simulate form submission, you can replace this with your actual form submission logic
            // If successful, redirect to the "thanks.html" page
            window.location.href = "thanks.html";
        });
    });
</script>
</script>
</html>
      </form>