<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'images/image.png' %}">
   
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Welcome to BMN</title>
</head>

<body>
    <div class="welcome-page">
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="corner"></div>
        <div class="content">
            <p data-shadow="WELCOME"><span></span><span></span><span>B</span><span>M</span><span>N</span><span></span><span></span></p>
        </div>
        <div class="right-vert-line"></div>
        <div class="left-vert-line"></div>
    </div>

  <script>
  setTimeout(function() {
    window.location.href = '/index';
  }, 6000);
</script>
</body>
</html>